* {
  padding: 0;
  margin: 0;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  text-align: center;
}
ul li {
  list-style: none;
  margin: 25px 0px;
}
ul li a {
  color: white;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  background-color: rgba(28, 16, 105, 0.644);
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  transition-duration: 1s;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
ul:hover li a {
  opacity: 0;
}
ul li a:hover {
  transform: scale(1.5);
  background-color: rgb(76, 52, 99);
  opacity: 1;
  rotate: 720deg;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
ul li::after {
  content: attr(data-text);
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
  transition: 1.5s;
}
ul li:hover:after {
  opacity: 0.5;
}
ul li::before {
  content: "";
  width: 180px;
  height: 80px;
  background-color: aliceblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 70%);
  border-radius: 50%;
  box-shadow: 0 0 80px burlywood;
  opacity: 0;
  transition: 0.5s;
}
ul li:hover::before {
  opacity: 0.5;
  width: 80px;
}
body {
  background-image: url(17538.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
